<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main>
    <!-- <%- include('../partials/show') %> -->
    <div id="map-section-view">
        <div id="save-state-form">
          <form action="<%= maps.id %>" method="POST">
            <h3><%= maps.mapname %></h3>
            <input type="hidden" name="_method" value="DELETE">
            <input id="delete-button" type="submit" value="Delete Map">
          </form>
        </div>
        <div class="table">
          <div class="coordinates">
            <div class="map-grid"></div>
          </div>
        </div>
      </div>
  <div id="chat-widget">
      <%- include('../partials/chatbox') %>
     </div>
   </main>
   <%- include('../partials/footer') %>
 </body>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
</html>